
@{
    ViewBag.Title = "Mapa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    @Styles.Render("~/Content/datepickerCss")
    @Styles.Render("~/Content/mapSearchCss")
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-2 py-3">
            <div id="floating-panel">
                <div class="form-group">
                    <label>Dio grada / adresa</label>
                    <input class="form-control" id="address" type="textbox" value="">
                </div>
                <div class="form-group">
                    <input class="button btn-block search-btn" id="submit" type="button" value="Traži">
                </div>
            </div>
        </div>
        <div class="col-xl-10">
            <div id="map-canvas"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ9ITEowmHPfUzKt0uM8eMCJi4sqKVozs&libraries=places"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    @Scripts.Render("~/bundles/jquiJS")
    @Scripts.Render("~/bundles/mapSearch")
}